<h1><%= current_user.email %></h1>

<%= cl_image_tag current_user.photo, height: 100, width: 200, crop: :fill %>


<h3>Your Human's Bookings</h3>
<%= link_to "Add a Human", new_product_path %>

<% current_user.products.each do |product| %>
  <div>
    <%= cl_image_tag product.photo, height: 300, width: 400, crop: :fill %>
    <ul>
      <li>
        <%= link_to 'Details', product_path(product), class: "btn btn-primary" %>
        <%= link_to 'Delete',  product_path(product), method: :delete, class: "btn btn-danger" %>
      </li>
      <% product.bookings.each do |booking| %>
        <li>Status : <%= product.bookings[0].status %></li>
        <li>
          Dates:
          <%= product.bookings[0].startdate %> to <%= product.bookings[0].enddate %>
        </li>
          <%= link_to 'Confirm booking', edit_booking_path(booking), class: "btn btn-flat" %>
          <%= link_to 'Delete',  booking_path(booking), method: :delete, class: "btn btn-warning" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


