<% mens = @products.where({gender: "male"}).first(3) %>
<% womens = @products.where({gender: "female"}).first(3) %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <% if user_signed_in? %>
      <h1>Hello,<strong><%= current_user.email %></strong></h1>
      <p>Are you looking for skills you don't have? Let's borrow it.</p>
    <% else %>
      <h1>Hello, what you want to borrow?</h1>
      <p>Are you looking for skills you don't have? Let's borrow it.</p>
    <% end %>
  </div>
</div>


<div class="flex-container">
  <h3> Skill you can choose </h3>
  <div class="cards">
    <div class="row">
        <% @skills.each do |skill| %>
          <%= link_to products_path(skill: skill.name) do %>
            <div class="col card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
              <p><%= skill.name.capitalize %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h3> TOP 3 Boys</h3>
  <div class="cards">
        <% mens.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo, :gravity=>"face", :width=>150, :height=>150, :zoom=>0.7, :crop=>"thumb" %>)">
              <p><%= product.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h3> TOP 3 Girls</h3>
  <div class="cards">
        <% womens.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo, :gravity=>"face", :width=>150, :height=>150, :zoom=>0.7, :crop=>"thumb" %>)">
              <p><%= product.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



