<% mens = @products.where({gender: "male"}).first(3) %>
<% womens = @products.where({gender: "female"}).first(3) %>

<div class="banner-container">
  <div class="skw-pages">
    <div class="skw-page skw-page-1 active">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content">

            <% if user_signed_in? %>
              <div class="container_main">
                <h2 class="skw-page__heading"> Hello, <%= current_user.email.split("@").first %> </h2>
                <h2>rent someone today!</h2>
                <p class="skw-page__description">Change your life</p>
              </div>
            <% else %>
              <h2 class="skw-page__heading"> Rent someone today</h2>
              <p class="skw-page__description">Change your life</p>
            <% end %>



          </div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-2">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <h2 class="skw-page__heading">Cooking</h2>
            <p class="skw-page__description">Taste the World</p>
          </div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-3">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <h2 class="skw-page__heading">Talents</h2>
            <p class="skw-page__description">Learn to Sing, Dance and Do Anything!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-4">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <h2 class="skw-page__heading">Massage</h2>
            <p class="skw-page__description">Release all the stress!</p>
          </div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
    </div>
    <div class="skw-page skw-page-5">
      <div class="skw-page__half skw-page__half--left">
        <div class="skw-page__skewed">
          <div class="skw-page__content"></div>
        </div>
      </div>
      <div class="skw-page__half skw-page__half--right">
        <div class="skw-page__skewed">
          <div class="skw-page__content">
            <h2 class="skw-page__heading">Book Me</h2>
            <p class="skw-page__description">
              Change your life renting other people!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <h3> Skill you can choose </h3>
<!--     <div class="col-lg-4"> -->
      <div class="cards-cat">
        <% @skills.each do |skill| %>
          <%= link_to products_path(skill: skill.name) do %>
            <div class="cards-cat-sub" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path skill.photo %>)">
              <p><%= skill.name.capitalize %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>


<div class="container">
  <h3> TOP 3 Boys</h3>
  <div class="cards">
        <% mens.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo, :gravity=>"face", :width=>150, :height=>150, :zoom=>0.7, :crop=>"thumb" %>)">
              <p><%= product.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3> TOP 3 Girls</h3>
  <div class="cards">
        <% womens.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path product.photo, :gravity=>"face", :width=>150, :height=>150, :zoom=>0.7, :crop=>"thumb" %>)">
              <p><%= product.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



