<div class="container">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @skill.photo %>)">
    <%= params[:skill].capitalize %>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div class="card-product">
    <h2><%= params[:skill].capitalize %></h2>
    <% @products.each do |product| %>
      <div class="card-product">
        <%= cl_image_tag(product.photo) %>
        <div class="card-product">
          <p class="name"><%= product.name  %>
            <% if (product.gender == "male") %>
              <i class="fas fa-mars"></i>
            <% else  %>
              <i class="fas fa-venus"></i>
            <% end %>
          </p>
          <p>City: <%= product.city  %></p>
          <p>Price: $<%= product.price  %></p>
          <%= link_to "Book now", product_path(product), class: "btn btn-flat" %>
        </div>
    <% end %>
  </div>

</div>






