<div class="container">
  <h1>New Human!</h1>

  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name%>
    <%= f.input :photo %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :gender, as: :radio_buttons, collection: ['male', 'female']%>
    <%#= f.association :skills  %>
    <% @skills.each do |skill| %>
      <div class="form-controll">
        <%= label_tag skill.name%>
        <%= check_box_tag "skills[#{skill.id}]" %>
      </div>
    <% end %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit class: "btn btn-primary"%> <%= link_to 'Cancel', user_path(current_user), class: "btn btn-danger" %>
  <% end %>
</div>
