<h1>New Human!</h1>

<%= simple_form_for(@product) do |f| %>
  <%= f.input :name%>
  <%= f.input :photo %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.association :skills %> <!-- need to update to product-skill -->
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
