<h1>New Human!</h1>

<%= simple_form_for([current_user, @product]) do |f| %>
  <%= f.input :name%>
  <%= f.input :photo %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.association :skills %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
