<%= @product.name %>


<div class="container">

  <div style="padding-bottom:70px">
    <%= link_to "back", :back %>
  </div>

   <%= cl_image_tag(@product.photo)%>

  <div>
    <p>Presented by <span><%= @product.user.email %></span></p>
    <p> <i class="fas fa-map-marker"></i> <%= @product.city %></p>
    <span><i class="fas fa-clock"></i> <%= @product.price %>$/hour</span>

      <div class="skills-description">
        <h4>SkillSets</h4>
        <% @product.skills.each do |skill| %>
            <p><%= skill.name %></p>
        <% end %>
      </div>
  </div>
  <%= render "products/rocketbutton" %>
  <%= link_to "hidden", new_product_booking_path(@product), id: "product-booking-new", style: "display: none;" %>
</div>





