<%= @product.name %>


<div class="container">

  <div style="padding-bottom:70px">
    <%= link_to "back", :back %>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <%= cl_image_tag @product.photo, height: 400, width: 400, crop: :fill%>
  <div>
    <p>Presented by <span><%= @product.user.email %></span></p>
    <p> <i class="fas fa-map-marker"></i> <%= @product.city %></p>
    <span><i class="fas fa-clock"></i> <%= @product.price %>$/hour</span>

      <div class="skills-description">
        <h4>SkillSets</h4>
        <% @product.skills.each do |skill| %>
            <p><%= skill.name %></p>
        <% end %>
      <p>
        <% if (@product.gender == "male") %>
          <i class="fas fa-mars"></i>
        <% else  %>
          <i class="fas fa-venus"></i>
        <% end %>
      </p>
    <p>City: <%= @product.city  %></p>
    <p>Price: $<%= @product.price  %></p>
      </div>
  </div>
  <%= render "products/rocketbutton" %>
  <%= link_to "hidden", new_product_booking_path(@product), id: "product-booking-new", style: "display: none;" %>
</div>





