
<div class="container-fluid">

  <div class="row">
    <div class="col-8">
      <%= cl_image_tag @product.photo , class:"photo-tag"%>
    </div>
    <div class="col-4 card-show-info">
      <div class="product-attribute d-flex justify-content-between" style="padding-top: 20px">
        <h1><%= @product.name %>
          <% if (@product.gender == "male") %>
            <i class="fas fa-mars"></i>
          <% else  %>
            <i class="fas fa-venus"></i>
          <% end %>
        </h1>
        <p class="product-price"><%= @product.price %>$/hour</p>
      </div>
      <div id="booking-new-container">
        <%= render "bookings/form", product: @product, booking: @booking %>
      </div>
      <div>
        <button class="rate-me-button"> rate me!</button>
      </div>
      <ul class="product-skill-list">
        <% @product.skills.each do |skill| %>
          <li><%= skill.name %></li>
        <% end %>
      </ul>
      <hr>
      <div class="product-attribute d-flex justify-content-between">
        <p><strong>City</strong></p>
        <p><%= @product.city %></p>
      </div>

      <hr>
      <div class="product-attribute d-flex justify-content-between">
        <p><strong>Released</strong></p>
        <p><%= time_ago_in_words(@product.created_at) %> ago</p>
      </div>
      <hr>
      <div class="product-attribute d-flex justify-content-between">
        <p><strong>Updated</strong></p>
        <p><%= time_ago_in_words(@product.updated_at) %> ago</p>
      </div>
      <hr>
      <div
        id="map"
        style="width: 200;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <hr>
    </div>
  </div>
</div>

<%#= link_to "hidden", new_product_booking_path(@product), id: "product-booking-new", style: "display: none;" %>







